.header {
  background-color: #d9d9d9;
  height: 100px;
  width: 100vw;
  padding: 1em 1em 1em 1em;
  font-size: 2em;
  line-height: 100px;
  font-weight: bold;
  vertical-align: top;
}

.header img {
  height: 100%;
  float: left;
  margin-right: 1em;
}

.content {
  margin: 1em 2em 1em 2em;
}
